services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    networks:
      - app-network

  postgres:
    image: postgres:16-alpine
    # ports:
    # - "5533:5432"
    environment:
      POSTGRES_DB: ${DJANGO_DB_NAME}
      POSTGRES_USER: ${DJANGO_DB_USER}
      POSTGRES_PASSWORD: ${DJANGO_DB_PASSWORD}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - app-network

  web:
    image: ghcr.io/artschekoff/presentations-django:latest
    build: .
    depends_on:
      - postgres
      - redis
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
      DJANGO_DEBUG: ${DJANGO_DEBUG}
      DJANGO_ALLOWED_HOSTS: ${DJANGO_ALLOWED_HOSTS}
      DJANGO_DB_ENGINE: ${DJANGO_DB_ENGINE}
      DJANGO_DB_NAME: ${DJANGO_DB_NAME}
      DJANGO_DB_USER: ${DJANGO_DB_USER}
      DJANGO_DB_PASSWORD: ${DJANGO_DB_PASSWORD}
      DJANGO_DB_HOST: ${DJANGO_DB_HOST}
      DJANGO_DB_PORT: ${DJANGO_DB_PORT}
      CELERY_BROKER_URL: ${CELERY_BROKER_URL}
      CELERY_RESULT_BACKEND: ${CELERY_RESULT_BACKEND}
      CHANNEL_REDIS_URL: ${CHANNEL_REDIS_URL}
      PRESENTATIONS_HEADLESS: ${PRESENTATIONS_HEADLESS}
      SOKRATIC_USERNAME: ${SOKRATIC_USERNAME}
      SOKRATIC_PASSWORD: ${SOKRATIC_PASSWORD}
    networks:
      - app-network

volumes:
  postgres-data:

networks:
  app-network:
    driver: bridge
